

a:active, a:focus{ outline:none; }

input {
	color: #333333;}

.box{
	padding-left: 90px;
	float:left;
	
}
.box a img{
 	vertical-align: middle;
	height: 140px;
	border: 3px; 
	margin: 5px 5px 5px 5px; 
	border: 5px solid #c5aa5f;
	
}
.box  p  {
	text-align: center;
	margin: 1px 1px 1px 1px;
	border: 1px solid #c5aa5f;
	background-color: #e9e5d9;
	height: 30px;
}
.controlleft {
	float: left;
	display: block; 
	text-align: left; 
	margin: -40px 0px 0px 10px;
}
.controlright {
	float: right;
	display: block; 
	text-align: right; 
	margin: -40px 10px 0px 0px;
}
#galeria-alfejlec {
	margin: 20px 0px 30px 0px;
	border: 1px solid #c5aa5f;
	text-align: middle;
	height: 30px;
}
#kepfelirat {
	text-align: center;
	height: 40px;
}