
@font-face{
font-family:FagoCondReg;
src: url('FagoCond_Regular.ttf'),
     url('FagoCond_Regular.otf') format("opentype")/* IE9 */
}
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	vertical-align: top;
}

.szoveg1{
	font-family:Verdana;
	font-size:20px;
	text-align:left;
	color:#c9ba9a;
	font-weight: bold
}
.szoveg2{
	font-family:FagoCondReg;
	font-size:18px;
	text-align:left;
	color:#eee;
	font-weight: normal
}
.szoveg3{
	font-family:FagoCondReg;
	font-size:14px;
	text-align:left;
	color:#CCC;
	font-weight: normal
}
h1{
	font-family: FagoCondReg;
	font-size: 20px; 
	text-align: left;
	color:#fff;
	font-weight:normal;
	display: inline
}
h2{
	font-family: FagoCondReg;
	font-size: 24px; 
	text-align: left;
	color:#fff;
	font-weight:normal;
	display: inline
}
h3{
	font-family: FagoCondReg;
	font-size: 14px; 
	text-align: left;
	color:#000;
	font-weight: 400;
	display: inline
}

a:link {color:#fff; text-decoration:none}      /* unvisited link */
a:hover {color:#3fb9f5; text-decoration:none}  /* mouse over link */
a:visited {color:#fff; text-decoration:none}  /* visited link */
a:active {color:#fff; text-decoration:none}  /* selected link */ 

.L2 a:link {color:#fff; text-decoration:none}      /* unvisited link */
.L2 a:hover {color:#1e1c1a; text-decoration:none}  /* mouse over link */
.L2 a:visited {color:#fff; text-decoration:none}  /* visited link */
.L2 a:active {color:#fff; text-decoration:none}  /* selected link */ 

.L3 a:link {color:#000; text-decoration:none}      /* unvisited link */
.L3 a:hover {color:#ed6c44; text-decoration:none}  /* mouse over link */
.L3 a:visited {color:#000; text-decoration:none}  /* visited link */
.L3 a:active {color:#000; text-decoration:none}  /* selected link */ 
-->