a, img {
   border: 0px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #82756c;
    font-family: Verdana, Arial;
    color: #35312e;
	overflow-y: scroll;
	background-image: url('graphics/webhatter2.jpg');
}

#keret{
    width: 960px;
    margin: 0 auto 0 auto;
}

#fejlec{
    width: 100%;
    height: 98px;
    background-color: #FAD1E3;
	background-image: url('graphics/fejlec2.jpg');
    margin-bottom: 30px;
}

#tel{
   width: 60px;
   float: right;
   margin: 20px 16px 0px 16px;
}

#fejlec h3{
    color: #817A72;
    float: right;
    width: 300px;
    text-align: right;
    margin: 22px 0px 5px 0px;
    font-size: 20px;
}

#fejlec h3:last-child{
   margin-top: 4px;
}

#fejlec h4{
    color: #42aee2;
    float: right;
    width: 300px;
    text-align: right;
	font-weight: normal;
    margin: 0px 00px 0px 0px;
    font-size: 22px;
}

#logo{
    display: block;
    width: 470px;
    height: 95px;
    float: left;
    /*background-image: url('graphics/alom_logo.jpg');*/
}

#balmenu{
    background-color: #817a72;
    margin-right: 30px;
    width: 300px;
    float: left;
}

#balmenu h1{
    color: #111;
    text-transform: uppercase;
    font-weight: normal;
	margin: 16px 16px 16px 16px;
	text-shadow: 1px 1px 5px rgba(213, 61, 140, 1);
}

#balmenu a{
    /*color: #fcfcfa;*/
    color: #000000;
    display: block;
    text-decoration: none;
	border-top: 1px solid #b2afaa;
	padding: 2px 8px 2px 8px;
	background-image: url('graphics/icon_menu.png');
	background-repeat: no-repeat;
	background-position: 278px 3px;
}

#balmenu a:hover{
   /*background-color: #bdb8b0;*/
   /*color: #42aee2;*/
   color: #d63e8c;
   background-image: url('graphics/icon_menu_h2.png');
}

#tartalom{
    width: 630px;
    padding: 0px 0px 0px 0px;
    float: left;
}

#tartalom_h{
   background-color: #cecece;
   float: left;
   padding: 0px 20px 20px 20px;
   width: 590px;
   min-height: 300px;
}

.img100{
    width: 100%;
}

#alsosav {
    clear: both;
    float: left;
    width: 100%;
}

.cimlap_csempe, .cimlap_csempe_extra{
    height: 290px;
    width: 300px;
    background-color: #c2b8af;
    float: left;
    margin: 30px 30px 30px 0;
}

.cimlap_csempe_extra{
   overflow: hidden;
   margin-bottom: 0px;
}
   
.cimlap_csempe h2, .cimlap_csempe_extra h2{
   background-color: #f8f3f0;
   color: #35312e;
   font-size: 18px;
   font-weight: normal;
   text-transform: uppercase;
   padding: 16px 9px 16px 9px;
   margin: 0px;
}

.cimlap_csempe div, .cimlap_csempe_extra div{
   height: 182px;
   overflow: hidden;
}

.cimlap_csempe_extra div{
   height: 236px;
}

.cimlap_csempe p{
   float: left;
   width: 60px;
   color: #35312e;
}

.cimlap_csempe img{
   margin-right: 20px;
}

.cimlap_csempe a, .cimlap_csempe_extra a{
   display: block;
   width: 276px;
   text-align: left;
   color: #f6eeeb;
   background-color: #ED439B;
   font-size: 16px;
   text-decoration: none;
   padding: 18px 12px 18px 12px;
   background-image: url('graphics/next.png');
   background-position: 248px 8px;
   background-repeat: no-repeat;
}

.cimlap_csempe_extra a{
   /*background-color: #2ac1ba;*/
   text-transform: uppercase;
}

.extra_gomb{
   display: block;
   width: 277px;
   text-align: left;
   color: #f6eeeb;
   margin-bottom: 10px;
   background-color: #2ac1ba;
   font-size: 16px;
   text-decoration: none;
   padding: 18px 12px 18px 12px !important;
   background-image: url('graphics/next.png') !important;
   background-position: 248px 8px !important;
   background-repeat: no-repeat;
   text-transform: uppercase;
}

.extra_gomb:hover{
    color: #f6eeeb !important;
}
    
.cimlap_csempe_extra img{
   height: 236px;
   width: 300px;
}

.cimlap_csempe_extra a:hover{
   /*background-color: #29b6af;*/
   background-color: #d63e8c;
}
   
.cimlap_csempe a:hover{
   background-color: #d63e8c;
}

.cimlap_csempe_kep{
   width: 150px;
   float: left;
}

.cimlap_csempe_kep img{
   float: left;
}
.cimlap_csempe_kep2{
   width: 300px;
   float: top;
   
}
 .cimlap_csempe_kep2 a {
   width: 300px;
   height: 182px;
   padding: 0;
   
 }
.cimlap_csempe_szoveg{
   padding: 14px 10px 10px 10px;
   color: #35312e;
   font-size: 12px;
   height: 158px !important;
   text-align: center;
}
.cimlap_csempe_szoveg2{
   padding: 14px 10px 10px 10px;
   color: #35312e;
   font-size: 13px;
   height: 158px !important;
   text-align: left;
}
#lablec{
    background-color: #35312e;
    height: 110px;
    width: 100%;
    float: left;
	color: #f6eeeb;
}

#lablec_first{
   margin: 18px 30px 15px 15px;
   float: left;
   width: 285px;
}

#lablec_second{
   margin: 18px 30px 15px 0px;
   float: left;
   width: 300px;
}

#lablec_third{
   margin: 18px 0px 15px 0px;
   float: left;
   width: 300px;
}

#lablec span{
   float: left;
   margin-top: 6px;
   font-size: 10px;
}

#lablec_third img{
   display: block;
   margin: -34px 0px 0px 130px;
   float: left;
}

.termek_lista{
    width: 196px;
    text-align: center;
    float: left;
    text-decoration: none;
    color: #333;
	margin-top: 30px;
}

.termek_lista:hover{
    background-color: #eeeeee;
}

.termek_lista img{
    max-width: 80%;
    border: 1px solid #667;
    display: inline-block;
    vertical-align: middle;
    line-height: normal; 
	max-height: 158px;
}

.termek_lista h2{
    font-size: 16px;
	margin: 0px auto 0px auto;
    font-weight: normal;
	height: 66px;
}

.termek_lista p{
   margin: 3px auto 0px auto;
}

.termek_lista div{
   height: 162px;
   line-height: 162px;
}

.controlleft {
    float: right;
    display: block; 
    text-align: right; 
    margin: -40px 10px 0px 0px;
}
.controlright {
    float: left;
    display: block; 
    text-align: left; 
    margin: -40px 0px 0px 10px;
}
#galeria-alfejlec {
	font-family: 'edward', Arial;
	color: #231200;
	margin: 0px 0px 0px 0px;
	border: 0px solid #c5aa5f;
	padding-top: 0px;
	text-align: center;
	font-size: 58px;
}
#kepfelirat {
	text-align: center;
	height: 40px;
}

.termek_tablazat{
    margin: 20px 0px 20px 0px;
}

.termek_tablazat td{
    padding: 3px;
}

.termek_tablazat td:nth-child(1){
    font-weight: bold;
    width: 150px;
}

.vissza {
   display: block;
   clear: both;
   float: right;
   margin: 10px 0px 0px 0px;
   color: #333;
   text-decoration: none;
}

.vissza:hover {
   text-decoration: underline;
}

.leiras {
   margin: 0px 6px 20px 6px;
}

.leiras span{
   font-weight: bold;
   display: block;
   margin-bottom: 7px;
}

.nyitva_kep{
    display: block !important;
    width: 180px;
    height: 152px;
    padding: 0px;
    background-color: #fefefe !important;
    background-image: url('graphics/nyitva_kep.jpg') !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
}

.nyitva_kep:hover{
    background-image: url('graphics/nyitva_kep2.jpg') !important;
}